<section class="home">
    <div class="logo-home">
        <img src="../../assets/login/logos.svg" alt="" class="logo">
        <div class="language">
            <img src="../../assets/login/brasil.png" alt="">
            <select class="chg-idioma">
                <option disable selected>PT-BR</option>
                <option value="English">EN-US</option>
            </select>
        </div>

    </div>
    <div class="home__content flex">
        <div class="image-login">
            <span class="texto-redirect">Novo Aqui? Crie uma conta</span>
            <button type="submit" class="cleiton">Criar conta</button>  
        </div>
        <div class="home__content--form">
            <span class="text text__center">Olá! Bem vindo de volta.</span>
            <span class="text text__light">Faça Login com seus dados inseridos durante o seu registro.</span>
            
            <form action="" class="form">
                <div class="form__group">
                    <label for="email">E-mail</label>
                    <div class="form__control">
                        <input type="email" placeholder="Exemplo@email.com">
                    </div>
                    
                </div>

                <div class="form__group">
                    <label for="password">Senha</label>
                    <div class="form__control">
                        <input type="password" placeholder="Digite a senha">
                    </div>
                    <a href="" class="forgot-password text__right">Esqueceu sua Senha?</a>
                </div>

                <button type="submit" click="login(email.value, password.value)" class="btn btn__success">Login</button>
            </form>

            <ul class="social flex flex__between">                  
                <li class="social__link">
                    <a href="a">
                        <i class=" fa fa-brands fa-facebook"></i>
                    </a>
                </li>
                
                <li class="social__link">
                    <a href="a">
                        <i class="fa fa-brands fa-twitter-square"></i>
                    </a>
                </li>
                
                <li class="social__link">
                    <a href="a">
                        <i class="fa fa-brands fa-instagram"></i>
                    </a>
                </li>
                
                <li class="social__link">
                    <a href="a">
                        <i class="fa fa-brands fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

</section> 