@import '../../styles/variaveis.scss';

.home {
    background-color: white;
    
    .logo-home{
        height: 9vh;
        width: 100vw;
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 2px 1px 2em 3px #E0E0E0;

        .logo{
            cursor: pointer;
            margin-left: 80px;
        }
        
        .language{
            margin-top: 10px;
            margin-left: 700px;
            
            img{
                margin-bottom: 7px;
                width: 35px;
                height: 35px;
            }

            .chg-idioma {
                margin: 5px;
                padding: 2px;
                font-weight: bold;
                color: $blackBasic;
                border-radius: 5px;
                border: 1px solid transparent;
                cursor: pointer;
            }
        }

    }

    &__content {
    
        .image-login {
            background-image: url(../../assets/login/Login2.png);
            width: 100vw;
            height: 91vh;
            background-size: cover;

            .texto-redirect {
                margin: 200px auto 10px;
                width: 33%;
                display: flex;
                text-align: center;
                color: white;
                font-size: 30px;
                font-weight: bold;
                border-radius: 10px;
            }
                
            .cleiton {
                margin: 0px 250px;
                width: 150px;
                height: 75px;
                border: none;
                cursor: pointer;
                font-weight: bold;
                border-radius: 10px;
                
                &:hover{
                    background-color: whitesmoke;
                    box-shadow: 2px 1px 0.5rem 0.5px $grayColor;
                }                          
            }
        }

        &--form {
            padding: 50px 150px;
            width: 100%;
            height: 100%;
            max-width: 50%;
        }

        .social {

            list-style-type: none;
            width: 100%;
            max-width: 90%;
            padding: 0px;
            margin: 30px auto 0px;
            &__link{
                a{
                    font-size: 2.0rem;
                    color: $graySlogan;                  
                }
            }
        }
    }
}