@import '../../styles/variaveis.scss';

.home {
    height: 100vh;
    background-color: whitesmoke;
    
    .logo-home{
        height: 9vh;
        width: 100vw;
        display: flex;
        align-items: center;
        box-shadow: 2px 1px 2em 3px #E0E0E0;

        .logo{
            cursor: pointer;
            margin-left: 80px;
        }
        
        .language{
            margin-top: 10px;
            margin-left: 700px;
            
            img{
                margin-bottom: 7px;
                width: 35px;
                height: 35px;
            }

            .chg-idioma {
                margin: 5px;
                padding: 2px;
                font-weight: bold;
                color: $blackBasic;
                border-radius: 5px;
                border: 1px solid transparent;
                cursor: pointer;
            }
        }

    }

    &__content {
        height: 100%;
        
        &--image{
            height: 50%;
            max-width: 800px;
            max-height:600px;
            background-repeat: no-repeat;
            background-size: contain;
            object-fit: cover;
        }

        &--form {
            padding: 100px;
            width: 100%;
            height: 100%;
            max-width: 50%;
        }

        .form{
            margin-top: 30px;
        }

        .social {
            width: 100%;
            max-width: 50%;
            margin: 45px auto 0;
            &__link{
                a{
                    font-size: 2.0rem;
                    color: $graySlogan;
                }
            }
        }
    }
}