<section class="home">

    <div class="logo-home">
        <img src="../../assets/login/logos.svg" alt="" class="logo">
        <div class="language">
            <img src="../../assets/login/brasil.png" alt="">
            <p>PT-BR</p>
        </div>
    </div>

    <div class="container-moedas">
        <div class="titulo-moedas">
            <h3>Moedas</h3>
        </div>

        <div class="container-flex">
            <div class="container-coin">
                <h6 class="id_moeda">USD / BRL</h6>
                <img class="img-coin" src="../../assets/login/Cards/Coin BRL/bold.png" alt="">
                <h6 class="cifrao">R$ <span class="valor-api">valor_api</span></h6>
                <h6 class="name-coin">Dolar turismo</h6>
            </div>
            <div class="container-coin">
                <h6 class="id_moeda">BTC / EUR</h6>
                <img class="img-coin" src="../../assets/login/Cards/Coin BTC/bold.png" alt="">
                <h6 class="cifrao">R$ <span class="valor-api">valor_api</span></h6>
                <h6 class="name-coin">Euro</h6>
            </div>
            <div class="container-coin">
                <h6 class="id_moeda">BTC / USD</h6>
                <img class="img-coin" src="../../assets/login/Cards/Coin BTC/bold.png" alt="">
                <h6 class="cifrao">R$<span class="valor-api">4241,60</span></h6>
                <h6 class="name-coin">Bitcoin</h6>
            </div>
        </div>
    </div>

    <div class="cotacoes">
        <div class="container-cotacoes">
            <h3>Cotações</h3>
        </div>

    </div>

</section>