$mainColor: #F4C23B; // laranjinha
$grayColor: #BDBDBD; // cinza clarin da logo
$blackBasic: #333333; // pretin normal
$graySlogan: #828282; // cinza mais escuro da info de login
$blackLogo: #0f0f0f; // preto da logo
$fontRegular: "Roboto";
$breakpointDesktop: 992px;